.text-decoration-none {
  text-decoration: none !important;
}

footer {
  background-color: #363636;
  overflow: auto;
}

footer hr {
  display: block;
  padding-top: 1rem;
  margin: 0;
  border-bottom: 0.01rem solid white;
}

.footer-icon img {
  width: 9rem;
}
