<!--<div class="flex-1"></div>-->
<footer>
  <div class="container">
    <div class="row">

      <div id="follow-us" class="text-white col-12 col-sm-6 col-md-4 col-lg-2 mt-3">
        <h5 class="mb-2">Follow us</h5>
        <a class="text-white text-decoration-none" href="#"><i
          class="icon-facebook-sign icon-3x"></i></a>
        <a class="text-white text-decoration-none" href="#"><i
          class="icon-twitter-sign icon-3x"></i></a>
        <a class="text-white text-decoration-none" href="#"><i
          class="icon-youtube-sign icon-3x"></i></a>
        <a class="text-white text-decoration-none" href="#"><i class="icon-instagram icon-3x"></i></a>

      </div>

      <div class="text-white col-12 col-sm-6 col-md-4 col-lg-2 mt-3">
        <h5 class="mb-2">Mobile apps</h5>
        <div class="footer-icon">

        </div>
      </div>

      <div class="text-white col-12 col-sm-6 col-md-4 col-lg-2 mt-3">
        <h5 class="mb-2">Company</h5>
        <div class="footer-icon">
          <a href="#"><img src="../../../assets/img/axonactive.png" alt=""></a>
        </div>
      </div>

      <div class="text-white col-12 col-sm-6 col-md-6 col-lg-3 mt-3">
        <h5 class="mb-2">Headquarter</h5>
        <a class="d-block text-decoration-none"
           href="https://www.google.com/maps/place/Axon+Active+Vietnam/@10.8086532,106.6631633,18z/data=!4m5!3m4!1s0x3175293cb57e2cad:0x8f2bef857837085f!8m2!3d10.8092065!4d106.6641128">
          <i class="icon-map-marker"></i> HO CHI MINH CITY, VIETNAM</a>
        <p>39B Truong Son Street, Ward 4, Tan Binh District, Ho Chi Minh City, Vietnam</p>

      </div>
      <div class="text-white col-12 col-sm-6 col-md-6 col-lg-3 mt-3">
        <h5 class="mb-2">Office</h5>
        <a class="d-block text-decoration-none" href="#"><i class="icon-map-marker"></i> DA NANG,
          VIETNAM</a>
        <a class="d-block text-decoration-none" href="#"><i class="icon-map-marker"></i> CAN THO,
          VIETNAM</a>
        <a class="d-block text-decoration-none" href="#"><i class="icon-map-marker"></i> SAN FRANCISCO,
          USA</a>
        <a class="d-block text-decoration-none" href="#"> <i class="icon-map-marker"></i> LUZERN,
          SWITZERLAND</a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="text-white mt-2 float-left">
          <p>A product of <a class="text-decoration-none" href="http://www.axonactive.com/">AXON
            ACTIVE
            VIETNAM</a> @ 2017 | All rights reserved
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="text-white mt-2 float-right">
          <a class="text-decoration-none" href="#">Terms of Service</a> | <a
          class="text-decoration-none"
          href="#">Privacy Statement</a>
        </div>
      </div>
    </div>

  </div>
</footer>
