<div class="container text-center">
  <div class="btn-group-vertical">
    <!--google button-->
    <div class="g-signin2" data-theme="dark" data-onsuccess="onSignIn" data-width="240px" data-height="50px"
         data-longtitle="true">
    </div>
    <!--END google button-->

    <!--facebook button-->
    <div data-width="240px" data-height="50px" onclick="facebooklogin()" class="abcRioButton abcRioButtonBlue">
      <div class="abcRioButtonContentWrapper">
        <div class="abcRioButtonIcon">
          <div id="svg">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="32px"
                 viewBox="0 27 140 90" class="abcRioButtonSvg">
              <g>
                <path fill="#006DF0"
                      d="M 72.089 0.02 L 59.624 0 C 45.62 0 36.57 9.285 36.57 23.656 v 10.907 H 24.037 c -1.083 0 -1.96 0.878 -1.96 1.961 v 15.803 c 0 1.083 0.878 1.96 1.96 1.96 h 12.533 v 39.876 c 0 1.083 0.877 1.96 1.96 1.96 h 16.352 c 1.083 0 1.96 -0.878 1.96 -1.96 V 54.287 h 14.654 c 1.083 0 1.96 -0.877 1.96 -1.96 l 0.006 -15.803 c 0 -0.52 -0.207 -1.018 -0.574 -1.386 c -0.367 -0.368 -0.867 -0.575 -1.387 -0.575 H 56.842 v -9.246 c 0 -4.444 1.059 -6.7 6.848 -6.7 l 8.397 -0.003 c 1.082 0 1.959 -0.878 1.959 -1.96 V 1.98 C 74.046 0.899 73.17 0.022 72.089 0.02 Z"
                ></path>
              </g>
            </svg>
          </div>
        </div>
        <span class="abcRioButtonContents"><span id="not_signed_in">Sign in with Facebook</span>
                      <span id="connected">Signed in with Facebook</span></span>
      </div>
    </div>
    <!--END facebook button-->
  </div>
</div>






