body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #fed136; }
a:hover, a:focus, a:active {
  color: #fec503; }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

body {
  -webkit-tap-highlight-color: #fed136; }
