 <!--Navigation-->
<!--<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-shrink" id="mainNav">-->
  <!--<div class="container">-->
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"-->
            <!--data-target="#navbarResponsive"-->
            <!--aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--Menu <i class="fa fa-bars"></i>-->
    <!--</button>-->
    <!--<a class="navbar-brand" href="#page-top">Eventomorrow</a>-->

    <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
      <!--<ul class="navbar-nav ml-auto">-->

        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Sign in/Sign up</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#schedule">About Us</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" data-toggle="modal" data-target="#quick-create">Create Event</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-shrink" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fa fa-bars"></i>
    </button>
    <div></div>
    <a class="navbar-brand" href="#page-top">Eventomorrow</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Sign in/Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#quick-create">Create Event</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Social Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signin-up></app-signin-up>
      </div>
    </div>
  </div>
</div>
<!--END Navigation-->
