<div [ngStyle]="{'background': 'url(' + eventDetail.coverImage + ')'}" class="subheader">
  <article>
    <h3><time>{{eventDetail.startTime | date}}</time></h3>
    <h3><address>{{eventDetail.location}}</address></h3>
    <h1 class="mt-5 subtitle display-1">{{eventDetail.title}}</h1>
    <button class="btn btn-outline-success btn-lg mt-5" data-toggle="modal" data-target="#basicModal" data-toggle="modal" data-target="#quick-join"><b>JOIN NOW</b></button>
    <br>
  </article>
</div>

