.subheader {
  width: 100%;
  height: 100vh;
  display: block;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative
}

.subheader:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6)
}

.navbar {
  position: fixed;
  z-index: 500;
  width: 100%;
}

.subheader article {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 90%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

#myBtn:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 35px;
    font-weight: bold;
  }
}

input[type="text"] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
