<section class="bg-faded" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading pb-3">UPCOMING EVENTS</h2>
        <!--<h3 class="section-subheading text-muted">Keep your momories on your heart!</h3>-->
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 portfolio-item" *ngFor="let event of listEvent">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-2">
            <a href="/detail-event/{{event.id}}">
              <div class="portfolio-link" href="">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid card-image" src="{{event.coverImage}}" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-2">
            <div class="portfolio-caption text-left text-muted">
              <div>
                <time>{{event.startTime | date}}</time>
              </div>
              <h4 class="pt-2">
                <strong>{{event.title}}</strong>
              </h4>
              <div>
                {{event.location}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-8 col-lg-8 pr-0 pl-2">
            <div class="portfolio-caption text-left text-muted border-top-1">
              <a class="text-muted font-weight-bold" href="#">#Code </a>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-4 pl-0 pr-2 quick-join">
            <div class="portfolio-caption text-left text-muted border-top-1 border-left-1 text-center px-0">
              <a class="text-muted font-weight-bold text-danger" href="#" data-toggle="modal" data-target="#quick-join">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-0 text-center">
        <a href="#" class="btn btn-xl mt-5">Load More</a>
      </div>
    </div>
  </div>
</section>
