.border-top-1 {
  border-top: 1px solid #eff2f5;
}

.border-left-1 {
  border-left: 1px solid #eff2f5;
}

.img-fluid {
  width: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

a {
  color: #fed136
}

a:active, a:focus, a:hover {
  color: #fec503
}

h2 {
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase
}

section {
  padding: 100px 0
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}

@media (min-width: 768px) {
  section {
    padding: 150px 0
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none
}

::selection {
  background: #fed136;
  text-shadow: none
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

body {
  -webkit-tap-highlight-color: #fed136
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(254, 209, 54, .9)
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff
}

#portfolio * {
  z-index: 2
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px
  }
}

.btn-xl {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 3px;
  color: #fff;
  border-color: #fed136;
  background-color: #fed136;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase
}

.btn-xl:focus {
  color: #fff;
  border-color: #b48b01;
  background-color: #fec503
}

.btn-xl:hover {
  color: #fff;
  border-color: #f6bf01;
  background-color: #fec503
}

.btn-xl:active {
  color: #fff;
  border-color: #f6bf01;
  background-color: #fec503
}

.btn-xl:active:focus, .btn-xl:active:hover {
  color: #fff;
  border-color: #b48b01;
  background-color: #dcab01
}

.btn-xl:active {
  background-image: none
}

.card-image {
  min-height: 270px;
}
