<!-- Modal -->
<div class="modal fade" id="quick-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quick create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid form-modal">
          <form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit(eventForm, $event)">
            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input class="form-control" type="text" formControlName="title" id="title" name="title" required autocomplete="off" placeholder="Enter event title">
              <small [hidden]="eventForm.controls.title.valid" class="text-danger">
                is required
              </small>
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input class="form-control" type="date" formControlName="startDate" id="startDate" name="startDate" required autocomplete="off" placeholder="Enter event start date">
              <small [hidden]="eventForm.controls.startDate.valid" class="text-danger">
                is required
              </small>
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input class="form-control" type="date" formControlName="endDate" id="endDate" name="endDate" required autocomplete="off" placeholder="Enter event end date">
              <small [hidden]="eventForm.controls.endDate.valid" class="text-danger">
                is required
              </small>
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input class="form-control" type="text" formControlName="locationName" id="locationName" name="locationName" required autocomplete="off" placeholder="Enter event venue">
              <small [hidden]="eventForm.controls.locationName.valid" class="text-danger">
                is required
              </small>
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input class="form-control" type="text" formControlName="location" id="location" name="location" required autocomplete="off" placeholder="Enter venue address">
              <small [hidden]="eventForm.controls.location.valid" class="text-danger">
                is required
              </small>
            </div>

            <button type="submit"
                    class="quick-join-btn btn btn-warning btn-block btn-lg mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5 mb-0 mb-sm-0 mb-md-3 mb-lg-3 mb-xl-3">
              Create event
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
