.form-modal input, .form-modal small{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  text-align: center;
}

.form-modal small {
  color: red !important;
}

/*.form-modal input:hover {*/
  /*border-bottom: solid;*/
/*}*/

.form-modal input:focus {
  border-bottom: solid;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.form-modal button {
  border-radius: 0;
}

.quick-join-btn {
  background-color: #fec503;
  color: white;
}

/*#form-join .nav-link {*/
/*}*/

.nav-link {
  color: #fec503;
  font-weight: bold;
}

.quick-join-active {
  border-bottom: solid;
  border-radius: 0px;
}

/*.modal-dialog {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.modal-content {*/
  /*height: auto;*/
  /*min-height: 100%;*/
  /*border-radius: 0;*/
/*}*/

