<!-- Modal -->
<div class="modal fade" id="quick-join" tabindex="-1" style="display: none;" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'quick-join-active': tab == 'joinUs'}" href="#" (click)="onSelect('joinUs')">Join Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'quick-join-active': tab == 'signIn'}" href="#" (click)="onSelect('signIn')">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'quick-join-active': tab == 'signUp'} " href="#" (click)="onSelect('signUp')">Sign Up</a>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid form-modal">
          <form id="form-join" *ngIf="tab == 'joinUs'" (ngSubmit)="joinUs(joinUsFullName.value, joinUsEmail.value)" #joinUsForm="ngForm">
            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input type="text" class="form-control" placeholder="Enter your full name" #joinUsFullName required>
              <small *ngIf="nameMessageError" class="form-text text-muted">{{nameMessageError}}</small>
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5">
              <input type="email" class="form-control" placeholder="Enter your email" #joinUsEmail required>
              <small *ngIf="emailMessageError" class="form-text text-muted">{{emailMessageError}}</small>
            </div>

            <button type="submit"
                    class="quick-join-btn btn btn-warning btn-block btn-lg mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5 mb-0 mb-sm-0 mb-md-3 mb-lg-3 mb-xl-3">
              Join
              Now
            </button>
            <button type="button" class="btn btn-default btn-block btn-lg mb-0 mb-sm-0 mb-md-5 mb-lg-5 mb-xl-5" id="close-modal"
                    data-dismiss="modal">Close
            </button>
          </form>

          <form id="form-sign-in" *ngIf="tab == 'signIn'">
            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5">
              <input type="password" class="form-control" placeholder="Enter your password">
            </div>

            <button type="submit"
                    class="quick-join-btn btn btn-warning btn-block btn-lg mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5 mb-0 mb-sm-0 mb-md-3 mb-lg-3 mb-xl-3">
              Sign In
            </button>
            <button type="button" class="btn btn-default btn-block btn-lg mb-0 mb-sm-0 mb-md-5 mb-lg-5 mb-xl-5" data-dismiss="modal">Close
            </button>
          </form>

          <form class="form-sign-up" *ngIf="tab == 'signUp'">
            <div class="form-group mt-0 mt-sm-0 mt-md-4 mt-lg-4 mt-xl-4">
              <input type="text" class="form-control" placeholder="Enter you full name">
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5">
              <input type="password" class="form-control" placeholder="Enter your password">
            </div>

            <div class="form-group mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5">
              <input type="password" class="form-control" placeholder="Confirm your password">
            </div>

            <button type="submit"
                    class="quick-join-btn btn btn-warning btn-block btn-lg mt-0 mt-sm-0 mt-md-5 mt-lg-5 mt-xl-5 mb-0 mb-sm-0 mb-md-3 mb-lg-3 mb-xl-3">
              Sign Up
            </button>
            <button type="button" class="btn btn-default btn-block btn-lg mb-0 mb-sm-0 mb-md-5 mb-lg-5 mb-xl-5"
                    data-dismiss="modal">Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

