<section class="bg-faded" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading pb-3">MY EVENTS</h2>
        <!--<h3 class="section-subheading text-muted">Keep your momories on your heart!</h3>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let event of events">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-2">
            <a href="/detail-event/{{event.id}}">
              <div class="portfolio-link" href="" style="max-width: 100%">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" style="min-height: 270px" src="{{event.coverImage}}" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-2">
            <div class="portfolio-caption text-left text-muted" style="max-width: 100%">
              <div>
                <time>{{event.startTime | date}}</time>
              </div>
              <h6>
                <strong>{{event.title}}</strong>
              </h6>
              <br>
              <div>
                {{event.location}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-0 text-center">
        <a href="#" class="btn btn-xl mt-5">Load More</a>
      </div>
    </div>
  </div>
</section>
