<div class="large-12 columns">
  <owl-carousel #owlElement
    [options]="{items: 1, dots: false, navigation: false, loop:true,autoplay: true, autoplayTimeout: 4000}"
    [items]="listImg"
    [carouselClasses]="['owl-theme', 'sliding','owl-carousel']">
    <div class="item carousel position-relative" *ngFor="let imgurl of listImg"
         [ngStyle]="{'background-image': 'url(' + imgurl + ')'}">

      <div class="carousel-event-description position-absolute">
        <div class="box-description position-absolute transform-center">

          <div class="carousel-event-name">
            <h1>CAREER DAY</h1>
          </div>

          <div class="schedule-location">
            <div class="row">
              <div class="col-6 schedule">
                <i class="fa fa-calendar text-white" aria-hidden="true"></i>
                <p class="fa-1x text-white mb-0">12 December 2018</p>
              </div>
              <div class="col-6 location">
                <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
                <p class="fa-1x text-white mb-0">Đại học Bách Khoa Đà Nẵng</p>
              </div>
            </div>
          </div>

          <div class="carousel-event-short-description mt-3 mb-0">
            <p>Là sự kiện mở và mang tính tương tác cao với điểm nhấn là các hội thảo chuyên đề....</p>
          </div>

          <a href="" data-toggle="modal" data-target="#quick-join"><button class="btn btn-outline-warning btn-lg btn-join" >JOIN
            US</button></a>

        </div>
      </div>

      <img class="carousel-img-size position-relative" src="" alt="">
    </div>
  </owl-carousel>
</div>
