.carousel {
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.carousel-img-size {
  width: 2560px !important;
  height: 1440px !important;
  z-index: -2;
}

.item {
  height: 100vh;
  width: auto;
  background-size: cover;
}

.item:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.4)
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.transform-center {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-event-description {
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: -webkit-center;
}

.box-description {
  width: 90vw;
}

@media (min-width: 1240px) {
  .box-description {
    width: 65vw;
  }
}

.carousel-event-time, .carousel-event-name,
.carousel-event-location, .carousel-event-short-description {
  width: 100%;
}

.schedule {
  border-right: 2px solid white !important;
}

.carousel-event-name {
  font-weight: 600;
  color: white;
}

.carousel-event-name h1 {
  font-size: 9vw;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.carousel-event-location {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.carousel-event-short-description {
  color: white;
}

.location p, .location i, .schedule p, .schedule i {
  font-size: 4.5vw;
}

.schedule-location {
  margin-top: 4vw;
}

.schedule-location p {
  margin-bottom: 2vw;
}

.carousel-event-short-description p {
  font-size: 4vw;
}

.btn-join {
  border-radius: 0px;
  font-size: 7vw;
  margin-top: 4vw;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

/* Landscape  for mobile*/
@media screen and (orientation: landscape) {

  .location p, .location i, .schedule p, .schedule i {
    font-size: 4.5vh;
  }

  .schedule-location {
    margin-top: 4vh;
  }

  .schedule-location p {
    margin-bottom: 2vh;
  }

  .carousel-event-short-description p {
    font-size: 4vh;
  }

  .btn-join {
    border-radius: 0px;
    font-size: 7vh;
    margin-top: 4vh;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }

  @media (min-width: 768px) {
    .schedule-location {
      width: 60% !important;
    }

    .carousel-event-name h1 {
      font-size: 9.5vw;
    }

    .location p, .location i, .schedule p, .schedule i{
      font-size: 2.5vw;
    }

    .carousel-event-short-description p {
      font-size: 2.3vw;
    }

    .btn-join {
      font-size: 8vw;
    }

  }
  @media (min-width: 1024px) {
    .schedule-location {
      width: 55% !important;
    }

    .carousel-event-name h1 {
      font-size: 8.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 2vw;
    }

    .carousel-event-short-description p {
      font-size: 1.8vw;
    }

    .btn-join {
      font-size: 7vw;
    }

  }

  @media (min-width: 1440px) {
    .schedule-location {
      width: 45% !important;
    }

    .carousel-event-name h1 {
      font-size: 7.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 1.8vw;
    }

    .carousel-event-short-description p {
      font-size: 1.6vw;
    }

    .btn-join {
      font-size: 6.1vw;
    }

  }

  @media (min-width: 2560px) {
    .schedule-location {
      width: 45% !important;
    }

    .carousel-event-name h1 {
      font-size: 5.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 1.5vw;
    }

    .carousel-event-short-description p {
      font-size: 1.2vw;
    }

    .btn-join {
      font-size: 4.3vw;
    }

  }

  @media (max-height: 768px) {
    @media (min-width: 768px) {
      .schedule-location {
        width: 60% !important;
      }

      .carousel-event-name h1 {
        font-size: 9.5vh;
      }

      .location p, .location i, .schedule p, .schedule i {
        font-size: 2.5vh;
      }

      .carousel-event-short-description p {
        font-size: 2.3vh;
      }

      .btn-join {
        font-size: 8vh;
      }

    }
    @media (min-width: 1024px) {
      .schedule-location {
        width: 55% !important;
      }

      .carousel-event-name h1 {
        font-size: 8.5vh;
      }

      .location p, .location i, .schedule p, .schedule i {
        font-size: 2vh;
      }

      .carousel-event-short-description p {
        font-size: 1.8vh;
      }

      .btn-join {
        font-size: 7vh;
      }

    }

    @media (min-width: 1440px) {
      .schedule-location {
        width: 45% !important;
      }

      .carousel-event-name h1 {
        font-size: 7.5vh;
      }

      .location p, .location i, .schedule p, .schedule i {
        font-size: 1.8vh;
      }

      .carousel-event-short-description p {
        font-size: 1.6vh;
      }

      .btn-join {
        font-size: 6.1vh;
      }

    }

    @media (min-width: 2560px) {
      .schedule-location {
        width: 45% !important;
      }

      .carousel-event-name h1 {
        font-size: 5.5vh;
      }

      .location p, .location i, .schedule p, .schedule i {
        font-size: 1.5vh;
      }

      .carousel-event-short-description p {
        font-size: 1.2vh;
      }

      .btn-join {
        font-size: 4.3vh;
      }

    }

  }

}

/* Portrait for mobile */
@media screen and (orientation: portrait) {

  .location p, .location i, .schedule p, .schedule i {
    font-size: 4.5vw;
  }

  .schedule-location {
    margin-top: 4vw;
  }

  .schedule-location p {
    margin-bottom: 2vw;
  }

  .carousel-event-short-description p {
    font-size: 4vw;
  }

  .btn-join {
    border-radius: 0px;
    font-size: 7vw;
    margin-top: 4vw;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }

  @media (min-width: 768px) {
    .schedule-location {
      width: 60% !important;
    }

    .carousel-event-name h1 {
      font-size: 9.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 2.5vw;
    }

    .carousel-event-short-description p {
      font-size: 2.3vw;
    }

    .btn-join {
      font-size: 8vw;
    }

  }
  @media (min-width: 1024px) {
    .schedule-location {
      width: 55% !important;
    }

    .carousel-event-name h1 {
      font-size: 8.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 2vw;
    }

    .carousel-event-short-description p {
      font-size: 1.8vw;
    }

    .btn-join {
      font-size: 7vw;
    }

  }

  @media (min-width: 1440px) {
    .schedule-location {
      width: 45% !important;
    }

    .carousel-event-name h1 {
      font-size: 7.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 1.8vw;
    }

    .carousel-event-short-description p {
      font-size: 1.6vw;
    }

    .btn-join {
      font-size: 6.1vw;
    }

  }

  @media (min-width: 2560px) {
    .schedule-location {
      width: 45% !important;
    }

    .carousel-event-name h1 {
      font-size: 5.5vw;
    }

    .location p, .location i, .schedule p, .schedule i {
      font-size: 1.5vw;
    }

    .carousel-event-short-description p {
      font-size: 1.2vw;
    }

    .btn-join {
      font-size: 4.3vw;
    }

  }
}

